<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/navigation/ideas">Ideas</a></td>
        <td><a href="{{site.baseurl}}/navigation/snake">Snake Game</a></td>
        <td><a href="{{site.baseurl}}/navigation/ideation">Ideation</a></td>
    </tr>
</table>

## Welcome to my Page ^^

This is my GitHub Pages Project.
Here I will document my projects in CSSE throughout 2024 and 2025, most of them being about games.

{% include utterances.html %}