<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/navigation/ideas">Ideas</a></td>
        <td><a href="{{site.baseurl}}/navigation/snake">Snake Game</a></td>
        <td><a href="{{site.baseurl}}/navigation/ideation">Ideation</a></td>
    </tr>
</table>

## Welcome to my Page ^^

This is my GitHub Pages Project.
Here I will document my projects in CSSE throughout 2024 and 2025, most of them being about games.
For example: Currently I am working on coding an RPG with my CSSE class.

<img width="1395" alt="Screenshot 2024-10-09 at 12 23 18" src="https://github.com/user-attachments/assets/9b948d1c-906c-46c3-82ea-57f8ae302a4c">

There is also an adaptation of the game by the CSA class:

<img width="1395" alt="Screenshot 2024-10-09 at 12 28 38" src="https://github.com/user-attachments/assets/e529bce6-3cfc-4a75-a3af-f650cdc3018f">

> Last updated: 09/10/24

{% include utterances.html %}